.background-custom{
background-color: #005662;
color: #03DAC6;
}

hr{
  border: 0.5px solid #03DAC6;
}

a{
  border-radius: 0%;
  border-color: #03DAC6;
  color:#03DAC6;
}
a:hover{
  background-color: #03DAC6;
}

