<div class="jumbotron background-custom">
  <h1 class="display-4 text-center">Hello, Readers!</h1>
  <p class="lead">When was the last time you read a book, or a substantial magazine article? Do your daily reading habits center around tweets, Facebook updates, or the directions on your instant oatmeal packet?

    If you’re one of countless people who don’t make a habit of reading regularly, you might be missing out.</p>
  <hr class="my-4">
  <p>“I find television very educating. Every time somebody turns on the set, I go into the other room and read a book.” – Groucho Marx</p>
  <span class="d-flex justify-content-center"><a class="btn btn-lg" routerLink="/learn-more" role="button">Learn more</a></span>
</div>
